@charset "utf-8";

.editor-group-watermark>.letterpress {
  opacity: 0.75;
}

.split-view-container:not(:has(.rootfolder-icon)) .editor-group-watermark>.letterpress {
  background-image: url("https://raw.githubusercontent.com/Aikoyori/ProgrammingVTuberLogos/main/VSCode/VSCode-Thick.png") !important;
}

.split-view-container:has(.rootfolder-icon) .editor-group-watermark>.letterpress {
  background-image: url("https://raw.githubusercontent.com/theinsidersandrush/ServiceLogos/main/VisualStudioCode/VisualStudioCode.png") !important;
}
